<%- include("partials/header"); -%>

<div class="about-background">
  <h1 style="font-size: 6.5em;font-weight: bolder;line-height: 1.1em;" class="about-head">About</h1>
<p class="about-para">
The Sparks Donation is an organisation which aims to remove poverty and inequality with the help of donation. You can donate us money which
we will distribute to the poor through our volenteers. We buy food, clothes and other necessary items and donate it to people who need it.
The payment button accepts payment from various modes.You can donate using netbanking, UPI or using credit/debit cards.
Your donations are highly appreciated.Thank You!
  </p>
  </div>

<%- include("partials/footer"); -%>
