<%- include("partials/header"); -%>

<div class="contact-background">
  <h1 style="font-size: 6.5em;font-weight: bolder;line-height: 1.1em;" class="about-head">Contact</h1>
  <p class="contact-para">
    You can contact us from the following email, phone number or from the below address.
    </p>
    <ul class="unordered">
      <li>
        Email:<br /> sparksdonation1@gmail.com
        </li>
        <li>
          Phone number:<br /> 9999999999
          </li>
          <li>
            Address:<br /> The Sparks Donation<br />Silk City, Delhi-90001
            </li>
      </ul>
  </div>

<%- include("partials/footer"); -%>
