<%- include("partials/header"); -%>

<div  class="donat">
  <div class="home-background">
              <div class=" donation-div">
                  <h2 class="donation-heading">Please help the people in need.This donation facility will
                  provide food, clothes and other necessities to the poor.</h2>
                  <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Iwk6hunq6IuDPK" async> </script> </form>
              </div>
          </div>
</div>

<%- include("partials/footer"); -%>
